*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: 'Now';
    src: url('../fonts/Now-Bold.eot');
    src: url('../fonts/Now-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Now-Bold.woff2') format('woff2'),
    url('../fonts/Now-Bold.woff') format('woff'),
    url('../fonts/Now-Bold.ttf') format('truetype'),
    url('../fonts/Now-Bold.svg#Now-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now';
    src: url('../fonts/Now-Medium.eot');
    src: url('../fonts/Now-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Now-Medium.woff2') format('woff2'),
    url('../fonts/Now-Medium.woff') format('woff'),
    url('../fonts/Now-Medium.ttf') format('truetype'),
    url('../fonts/Now-Medium.svg#Now-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
    width: 100%!important;
    max-width: 750px;
    height: 602px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ui-dialog{
    padding: 0;
}
.ui-widget.ui-widget-content,.ui-widget-header{
    border: none;
    margin-bottom: 40px;
}
.ui-corner-all{
    border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar{
    background-color: black;
    text-align: center;
    padding: 41px;
}
.ui-dialog-title{
    color: #FFFFFF;
    font: bold 24px/24px 'Now';
}
.ui-button{
    display: none;
}
.ui-dialog .ui-dialog-content{
    max-width: 575px;
    margin: auto;
    margin-bottom: 166px;
    padding: 0;
}
.login{
    margin-bottom: 30px;
}
.form_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.login label{
    display: inline-block;
    font: 500 22px/30px 'Now';
    text-align: center;
}
.login input{
    max-width: 380px;
    width: 100%;
    height: 58px;
    border: solid 1px #b7b7b7;
    border-radius: 2px;
    margin-bottom: 40px;
}
.login button{
    display: block;
    margin: auto;
    max-width: 528px;
    width: 100%;
    font: bold 24px/24px 'Now';
    padding: 18px;
    background-color: #c9c9c9;
    border: none;
    border-radius: 2px;
}
.content h3{
    font: 500 22px/22px 'Now';
    margin-bottom:30px;
    text-align: center;
}
.fb-login{
    display: block;
    margin: auto;
    max-width: 528px;
    width: 100%;
    padding: 18px;
    background-color: #557bcc;
    border: none;
    color: white!important;
    font: bold 24px/24px 'Now';
    border-radius: 2px;
    text-align: center;
}
.bg{
    background-color: white;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}
.homepage.bg{
    background-image:url("../images/bgimage.jpg");
}
.about.bg{
    background-image: url("../images/bg_about.jpg");
    height: 100vh;
}
.work.bg{
    background-image: url("../images/bg_work.jpg");
    height: 400px;
}
.bg.blog{
    background-image: url("../images/bg_blog.jpg");
    height: 400px;
}
.project.bg{
    background-image: url("../images/bg_project.jpg");
}
.contacts.bg{
    background-image: url("../images/bg_contact.jpg");
    height: 400px;
}
header{
    position: fixed;
    width: 100%;
    padding: 15px;
    top: 15px;
    z-index: 2;
    background-color: rgba(101,109, 113, 0.6);
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1155px;
    margin: auto;
}
.menu{
    margin-left: auto;
}
.menu__link{
    font-size: 16px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
/*.menu-burger{
    position:relative;
    width: 18px;
    height: 2px;
    background-color:white;
    cursor: pointer;
    margin-left: 4px;
}

.menu-burger::before{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color:white;
    transform: translateY(-5px);
}
.menu-burger::after{
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color:white;
    transform:translateY(5px);
}*/
.wrapper{
    margin: auto;
    max-width:1150px;
    padding: 0 15px;
    margin-bottom: 82px;
}
.about.wrapper{
    max-width: 1280px;
    margin-bottom: 0;
}
.contacts.wrapper{
    padding-top: 42%;
}
.work.wrapper{
    max-width:1280px;
    padding-top:42%;
    margin-bottom:0;
}
.wrapper__slogan{
    padding-top: 30%;
    padding-bottom: 35%;
}
h1{
    text-align: center;
    font-weight: 300;
    font-size:80px;
    line-height: 80px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 span{
    font:italic 300 80px 'Open Sans', sans-serif;
}
.container{
    margin: auto;
    max-width: 770px;
    text-align: center;
}
.desc.container,.blog.container, .info.container{
    margin-bottom: 163px;
}
.container__subtitle{
    font-weight:600;
    font-size: 13px;
    line-height: 13px;
    color: #d4af37;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-family: 'Open Sans', sans-serif;
}
.container__title{
    font-weight: 600;
    font-size: 44px;
    line-height: 44px;
    color: #021725;
    margin-bottom: 55px;
    font-family: 'Open Sans', sans-serif;
}
.contacts.container__title{
    line-height: 44px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 87px;
}
.container__text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color:#021725;
    font-family: 'Open Sans', sans-serif;
}
.desc.container__text{
    margin-bottom: 50px;
}
.container__link{
    border: solid 1px #000000;
    width: 238px;
    line-height: 55px;
    color:#021725;
    font-weight: 300;
    font-size: 14px;
    padding: 21px 53px;
    font-family: 'Open Sans', sans-serif;
}
.flex{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 162px;
}
.flex__box{
    width: 25%;
    padding-left: 1px;
    padding-right: 1px;
}
.img{
    width: 100%;
}
.people.flex{
    max-width: 770px;
}
.flexbox{
    width: 246px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #f9f9f9;
    justify-content: space-between;
    text-align: left;
}
.flexbox:first-of-type{
    margin-left: 0;
}
.flexbox:last-of-type{
    margin-right: 0;
}
.photo{
    width: 100%;
    margin-bottom: 20px;
}
.worker_desc{
    padding:0 15px 48px;
}
.career{
    font-weight:600;
    font-size: 13px;
    line-height: 13px;
    color: #d4af37;
    text-transform: uppercase;
    margin-bottom: 21px;
    font-family: 'Open Sans', sans-serif;
}
.name{
    font-weight:400;
    font-size: 21px;
    line-height: 21px;
    color: #021725;
    margin-bottom: 37px;
    font-family: 'Open Sans', sans-serif;
}
.flexbox .text{
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    color: #021725;
    font-family: 'Open Sans', sans-serif;
}
.flexblock{
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    margin-bottom: 84px;
}
.fb-img{
    width: 385px;
    height: 390px;
}
.fb-content{
    max-width: 385px;
    padding: 43px 20px 60px 40px;
    text-align: left;
    overflow: auto;
}
.title{
    line-height: 30px;
    font-size: 30px;
    color:#505d68;
    margin-bottom: 34px;
    font-family: 'Open Sans', sans-serif;
}
.title.fb{
    font-weight: 400;
}
.time{
    display: inline-block;
    line-height: 13px;
    font-size: 13px;
    color: #505d68;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.time.fb{
    margin-bottom: 20px;
    font-weight: 400;
}
.text{
    line-height: 16px;
    font-size: 16px;
    color: #505d68;
}
.text.fb{
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.fb-link{
    display: inline-block;
    border: solid 1px #000000;
    width: 125px;
    height: 46px;
    color:#021725;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    padding: 16px;
    text-align:center ;
    font-family: 'Open Sans', sans-serif;
}
.contactblock{
    background-color: #f9f9f9;
    max-width: 770px;
}
.map{
    position: relative;
    max-width: 770px;
    height: 300px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    color: #021725;
}
.contact__item{
    width: 385px;
    height: 207px;
    padding: 50px 20px 45px;
}
.contact__item h4{
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}
.contact__item p{
    font-size: 19px;
    line-height: 34px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
footer{
    background-color: #eeeeee;
}
.wrap{
    margin: auto;
    max-width:770px;
    padding: 40px 10px;
}
.wrap__flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap__flexbox p,a{
    font-size: 16px;
    font-weight: 300;
    color: #505d68;
    font-family: 'Open Sans', sans-serif;
}
.info.container{
    padding-top: 80%;
}
.servblock{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    color:#505d68;
}
.servblock__img{
    max-width: 640px;
    height: 450px;
}
.servblock__info{
    display: flex;
    justify-content:center;
    max-width: 640px;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 48px 10px 38px;
}
.subtitle{
    display: block;
    font-size:45px;
    font-weight:600;
    margin-bottom: 90px;
    font-family: 'Open Sans', sans-serif;
}
.serv{
    padding: 0 15px;
    width: 240px;
}
.desc.serv{
    margin-right: 15px;
}
.list.serv{
    margin-left: 15px;
}
.serv.desc p{
    font-size: 18px;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
}
.services{
    list-style-type: none;
    font-size:18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.item::before{
    content:"";
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 4px;
    height: 1px;
    background-color: #505d68;
    text-align: center;
}
.work.flex{
    margin-bottom: 0;
}
.blog.wrapper{
    max-width: 1150px;
    background-color: #f9f9f9;
    margin-top: 38%;
    padding: 63px;
}
.main__block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 63px;
    align-items: stretch;
}
.post{
    max-width: 666px;
}
.post__block{
    padding: 32px;
    background-color: white;
    margin-bottom: 57px;
}
.post__block:last-of-type{
    margin-bottom: 0;
}
.img.pb{
    max-width: 600px;
    margin-bottom: 38px;
}
.title.pb{
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}
.time.pb{
    font-weight: 300;
    color: #d3b000;
    margin-bottom: 34px;
    font-family: 'Open Sans', sans-serif;
}
.text.pb{
    font-weight: 400;
    font-family: 'Cardo', serif;;
    margin-bottom: 70px;
    line-height: 25px;
}
.pb-link{
    display: inline-block;
    width: 190px;
    padding: 17px 54px;
    text-align: center;
    border: solid 1px black;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.post-list{
    max-width: 290px;
    margin-left: 55px;
}
.postlist{
    display: flex;
    flex-wrap: wrap;
    max-width: 290px;
    margin-left: 55px;
}
.pl__item{
    width: 100%;
}
.postlist img{
    width: 100%;
}
.posts,.ctgr{
    margin-bottom: 56px;
}
.post-list h3{
    font-weight: 300;
    font-size: 23px;
    line-height: 23px;
    color: #021725;
    margin-bottom: 17px;
}
.post-list hr{
    width: 100%;
    height: 4px;
    background-color: #d3b000;
    margin-bottom: 38px;
}
.theme{
    list-style-type: none;
}
.p-title{
    display: block;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 13px;
}
.pf{
    display: flex;
    flex-direction: column;
}
.pf__item{
    width: 297px;
}
.contacts.container{
    max-width: 770px;
}
.flex--contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 77px;
}
.fc__adress{
    height: 300px;
    padding: 33px;
    padding-right: 109px;
    background-color: #d3b000;
    margin-right: 3px;
    overflow: auto;
}
.adress{
    line-height: 25px;
    color: white;
    font:400 25px 'Open Sans', sans-serif;
}
.adress:before{
    content: "";
    display: block;
    margin-bottom: 47px;
    width: 31px;
    height: 3px;
    background-color: white;
}
.fc__view{
    margin-left: 3px;
}
.fc__text{
    margin-right: 2px;
    padding: 47px;
    height: 300px;
    width: 459px;
    background-color: #f9f9f9;
    overflow: auto;
}
.fc__text p{
    font:300 20px 'Open Sans', sans-serif;
    color: #323d43;
}
.fc__phone{
    margin-left: 2px;
    background-color: black;
    padding: 33px;
}
.project.wrapper{
    max-width: 1150px;
    margin: auto;
    padding: 0;
    padding-top: 61%;
    margin-bottom: 73px;

}
.project.main__block{
    max-width: 1150px;
    padding: 64px;
    margin-bottom: 104px;
    background-color: #f9f9f9;
}
.left.mn{
    max-width: 666px;
}
.mn.title{
    margin-top: 23px;
    margin-bottom: 127px;
    color: #000000;
    font: 700 45px/45px 'Open Sans', sans-serif;
}
.mn.text{
    color:#000000;
    font: 400 20px/32px 'Cardo', serif;
    margin-bottom: 102px;
}
.project.main__block span{
    font: 700 20px/32px 'Cardo', serif;
}
.owl-carousel.owl-loaded{
    overflow-anchor: none;
    display: inline-grid;
}
.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align:center;
    border: none;
}
.owl-carousel button.owl-dot span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #869791;
}
.owl-carousel button.owl-dot.active span{
    position:relative;
    bottom: -2px;
    width: 24px;
    height: 24px;
    background-color: #f9f9f9;
    border: solid 1px #d3b000;
}
.socmedia{
    max-width: 1022px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.socmedia__link{
    border: solid 1px #a1a1a1;
    width: 247px;
    height: 56px;
    text-align: center;
    padding: 22px;
    color: #a1a1a1;
    font: 300 15px/15px 'Open Sans', sans-serif;
}
